@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,300;9..40,400;9..40,500;9..40,600;9..40,700;9..40,900&display=swap');

html, body{
    color: #191919;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 300;

    h2{
        font-family: 'DM Sans', sans-serif;
        font-weight: 700;
        font-size: 35px;

        @media (min-width: 768px){
            font-size: 45px;
        }
    }

    h3{
        font-size: 22px;
        font-family: 'DM Sans', sans-serif;
        font-weight: 700;
    }

    h4{
        font-size: 20px;
        font-family: 'DM Sans', sans-serif;
        font-weight: 700;
    }

    // Ändrat storlek gentemot designen. Då det ej reflekterade bra på sidan.
    .orange-p{
        font-size: 16px;
        font-weight: 400;
        color: #F94D1C;
        margin-bottom: 10px;
    }

    .squiggly-lines{
        position: absolute;
    }
}

.btn-yellow{
    background-color: #f9d783;
    border: 1px solid #f9d783;
    color: #191919;
    text-decoration: none;
    padding: 15px 30px;
    font-weight: 600;
    font-size: 16px;
    border-radius: 30px;

    i{
        margin-left: 8px;
        font-size: 0.9em;   
    }

    &:hover{
        background-color: #191919;
        border-color: #191919;
        color: #F0EFE9;
    }
}

.btn-black{
    background-color: #191919;
    border: 1px solid #191919;
    color: #ffffff;
    text-decoration: none;
    padding: 15px 30px;
    font-weight: 600;
    font-size: 16px;
    border-radius: 30px;

    i{
        margin-left: 8px;
        font-size: 0.9em;   
    }

    &:hover{
        background-color: transparent;
        border-color: #191919;
        color: #191919;
    }
}

.btn-transparent{
    background-color: transparent;
    border: 1px solid #191919;
    color: #191919;
    text-decoration: none;
    padding: 15px 30px;
    font-weight: 600;
    font-size: 16px;
    border-radius: 30px;

    i{
        margin-left: 8px;
        font-size: 0.9em;   
    }

    &:hover{
        background-color: #191919;
        border-color: #191919;
        color: #F0EFE9;
    }
}

.round-buttons{
    display: flex;
    justify-content: center;
    gap: 15px;

    a{
        text-decoration: none;
        color: #191919;
        font-size: 12px;
        opacity: 0.3;

        &.active,
        &:hover{
            opacity: 1;
        }

    }

}

.center-content{
    display: flex;
    justify-content: center;
    align-items: center;
}

.end-content{
    display: flex;
    justify-content: end;
    align-items: end;
}

header{
    background-color: #F0EFE9;
    padding: 16px;

    .container{
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 75px;

        .menu{
            display: none;
            flex: 1;

            @media (min-width: 992px){
                display: block;
            }

            .top-menu{
                display: flex;
                justify-content: end;
                align-items: center;
                border-bottom: 1px solid #DAD9D3;
                padding-bottom: 10px;

                @media (min-width: 1200px){
                    justify-content: space-between;

                }
                .contact-info{
                    display: none;
                    align-items: center;

                    @media (min-width: 1200px){
                        display: flex;
    
                    }

                    .content-box{
                        padding-right: 30px;
                        margin-right: 30px;
                        border-right: 1px solid #DAD9D3;
                        font-family: 'Inter', sans-serif;
                        font-size: 15px;

                        i{
                            margin-right: 5px;
                            font-size: 1.2em;
                        }

                        &.last{
                            border: none;
                        }
                    }
                }
                .social-media{ 
                    a{
                        color: #191919;
                        font-size: 1.3rem;
                        margin-left: 10px;

                        &:hover{
                            color: #7b7b7b;
                        }
                    }
                }
            }

            .main-menu{
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding-top: 10px;

                nav{
                    a{
                        display: inline-block;
                        color: #191919;
                        text-decoration: none;
                        margin-right: 35px;
                        position: relative;

                        &.active{
                            font-weight: 500;
                        }

                        &.active::after,
                        &:hover::after{
                            content: '';
                            position: absolute;
                            font-weight: 500;
                            height: 2px;
                            width: 15px;
                            background-color: #191919;
                            left: 50%;
                            bottom: -3px;
                            transform: translate((calc(50% - 15px)));
                        }
                    }
                }
                
                .btn-login{
                    padding-top: 10px;
                    padding-bottom: 10px;
                }

            }

        }

        .menu-bars{
            border: none;
            background-color: transparent;
            font-size: 25px;

            @media (min-width: 992px){
                display: none;
            }
        }

        @media(min-width: 2500px){
            max-width: 2048px;
        } 
    }

}

.showcase-section{
    background-color: #F0EFE9;
    position: relative;
    z-index: 0;

    .squiggly-lines{
        display: none;
        bottom: 0;
        z-index: -1;

        @media (min-width: 992px){
            display: inline;
        }
    }

    .container{
        display: flex;
        justify-content: space-between;
        align-items: center;

        .content{
            padding-top: 40px;
            padding-bottom: 40px;
            text-align: center;

            @media (min-width: 1200px){
                text-align: left;
            }

            h1{
                font-family: 'DM Sans', sans-serif;
                font-weight: 700;
                font-size: 40px;

                @media (min-width: 768px) {
                    font-size: 70px;
                }

                @media (min-width: 1400px) {
                    font-size: 86px;
                }
            }

            p{
                font-size: 15px;
                padding-top: 35px;
                padding-bottom: 40px;
                padding-left: 10px;
                padding-right: 10px;
                
                @media (min-width: 768px) {
                    font-size: 20px;
                    padding-right: 0px;
                    padding-left: 0px;
                }
            }

            a{
                margin-right: 0px;
                margin-bottom: 20px;
                display: block;

                @media (min-width: 768px) {
                    margin-right: 10px;
                    display: inline-block;
                }
            }
        }

        img{
            display: none;
            margin-right: -50px;

            @media (min-width: 1200px) {
                display: block;
            }
        }
    }
}

.features-section{

    .container{

        .partners{
            display: flex;
            flex-direction: column; 
            align-items: center;

            @media (min-width: 992px){
                display: flex;
                justify-content: space-between;
                align-items: center;
                flex-direction: row;
                margin: 100px 45px;
            }

            a{
                &:hover{
                    background-color: #f9d783;
                }

                @media (max-width: 992px){
                    margin-top: 20px;
                    margin-bottom: 20px;
                }
            }
        }

        .features{
            display: flex;

            @media (min-width: 1400px){
                border: 1px solid #DAD9D3;
                width: 1320px;
                height: 600px;
            }

            .part-one{
                display: flex;
                flex-direction: column;

                @media (max-width: 992px){
                    margin-top: 10px;
                }

                @media (min-width: 1200px){
                    align-items: start;
                    margin-left: 100px;
                    margin-bottom: 216px;
                    margin-top: 81px;
                }

                p{
                    text-align: center; 

                    @media (max-width: 992px){
                        margin-top: 20px;
                    }
                }

                h2{
                    text-align: center;
                    font-size: 35px;

                    @media (min-width: 1200px){
                    text-align: start;
                    padding-bottom: 50px;
                    margin-right: 100px;
                    width: 460px;
                    }

                    @media (min-width: 768px){
                        font-size: 45px;
                    }
                }

                a{
                    display: block;
                    text-align: center;
                    
                    @media (min-width: 768px){
                    padding: 15px 170px;
                    }
                }

            }

            .part-two{
                display: none;

                @media (min-width: 1200px){
                    display: flex;
                    margin-top: 81px;
                }

                .icons-right{
                    margin-left: 115px;
                    margin-right: 75px;
                }

                i{
                    color: #191919;
                    font-size: 40px;
                    margin-bottom: 40px;
                }

                h3{
                    margin-bottom: 30px;
                }

                p{
                    color:#7a7a7a;
                    margin-bottom: 65px;
                }

            }
        }
    }
    
}

.about-section{

    .container{
        display: flex;
        justify-content: center;
        margin-top: 120px;
        margin-bottom: 120px;

        @media (min-width: 1200px){
            display: grid;
            grid-template-columns: 1fr 1fr;
        }

        .samantha{
            display: none;
            position: relative;

            @media(min-width: 1200px){
                display: flex;
            }

            img{
                margin-left: 55px;
                height: 500px;
                width: auto;

                @media(min-width: 1400px){
                    width: auto;
                    height: 615px;
                }
            }

            .samantha-info{
                position: absolute;
                bottom: 7rem;
                background-color: #BEEBFF;
                width: 368px;
                height: 180px;

                @media(min-width: 1400px){
                    bottom: 2.5rem;
                }

                div{
                    margin-left: 20px;
                    margin-top: 40px;

                    h4{
                        display: inline;
                    }

                    .orange-p{
                        display: inline;
                        font-family: 'DM Sans' sans-serif;
                        font-size: 18px;
                        font-weight: 700;
                    }

                    p{
                        margin-top: 25px;
                        font-weight: 400;
                    }
                }
            }
        }

        .about-company{
            text-align: center;

            @media (min-width: 1200px){
                text-align: start;
                margin-left: 200px;
                width: 535px;
            }

            h2{
                margin-top: 30px;
                margin-bottom: 25px;
            }

            .lorem{
                margin-top: 50px;
                margin-bottom: 120px;
            }

            .btn-black{
                margin-right: 0px;
                display: block;
                margin-bottom: 25px;

                @media (min-width: 576px){
                    display: inline;
                    margin-right: 30px;
                    margin-bottom: 0px;
                }
            }

            .video-button{
                text-decoration: none;
                color: #191919;
                font-weight: 600;

                i{
                    border: 1px solid #191919;
                    border-radius: 100%;
                    width: 55px;
                    height: 55px;
                    padding: 18px;
                    margin-right: 20px;
                    text-align: center;
                }

                &:hover{
                    text-decoration: underline;
                    i{
                        color: white;
                        background-color: #191919;
                    }
                }
            }
        }
    }
}

.services-section{
    background-color: #F0EFE9;
    position: relative;
    z-index: 0;

    .squiggly-lines{
        bottom: 0;
        right: 0;
        z-index: -1;
    }

    .container{
        padding: 120px 0px;
        text-align: center;

        @media(min-width: 1400px){
            text-align: start;
        }

        .services-box{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            margin-bottom: 40px;
            gap: 30px;

            @media (min-width: 768px){
                display: grid;
                grid-template-columns: auto auto;
                justify-content: space-evenly;
            }

            @media (min-width: 1400px){
                justify-content: space-between;
                display: flex;
                flex-direction: row;
            }

            a{
                text-decoration: none;
                color: #191919;
                background-color: white;
                width: 310px;
                height: 330px;
                padding: 45px 30px;

                .border-bit{
                    width: 40px;
                    height: 1px;
                    background-color: #191919;
                    margin-bottom: 45px;
                }

                p{
                    font-weight: 200;
                }

                i{
                    background-color: #191919;
                    color: white;
                    border-radius: 100%;
                    padding-top: 18px;
                    font-size: 20px;
                    height: 56px;
                    width: 56px;
                    text-align: center;
                }

                &:hover{
                    background-color: #f9d783;
                    i{
                        background-color: white;
                        color: #191919;
                    }
                }
            }

        }

    }
}

.choose-us-section{

    @media (min-width: 1200px){
        background-color: white; 
        background-image: linear-gradient(to right, #F0EFE9 60%, rgba(0,0,0,0) 20%);
        background-size: 100% 70%;
        background-position: 40dvw 100%;
        background-repeat: no-repeat;
    }

    @media (min-width: 1400px){
        background-position: 45dvw 100%;
    }
    

    .container{
        display: flex;
        justify-content: space-between;
        margin-top: 60px;

        .why-choose-us{
            
            @media (max-width: 1200px){
                margin: auto;
            }
            

            h2{
                text-align: center;
                max-width: 400px;
                margin-top: 25px;

                @media (min-width: 1200px){
                    text-align: start;
                }
            }

            .orange-p{
                text-align: center;

                @media (min-width: 1200px){
                    text-align: start;
                }
            }

            .headlines{
                display: flex;
                margin-top: 45px;

                p{
                    font-weight: 200;
                }

                i{
                    border: solid 1px #DAD9D3;
                    border-radius: 100%;
                    font-size: 32px;
                    width: 60px;
                    height: 60px;
                    text-align: center;
                    padding-top: 13px;
                    margin-right: 25px;
                }
            }
        }

        .choose-us-image{

            img{
                display: none;
                margin-top: 50px;

                @media (min-width: 1200px){
                    display: inline;
                }

            }
        }
    }
}

.projects-section{

    .container{

        .title-part{
            text-align: center;
            padding-top: 70px;
            padding-bottom: 40px;

            @media (min-width: 768px){
                padding-top: 120px;
                padding-bottom: 90px;
            }
        }

        .project-part{
            display: grid;
            grid-template-columns: 1fr;  
            gap: 30px;

            @media (min-width: 768px){
            grid-template-columns: 1fr 1fr;
            }
            

            a{
                display: grid;
                grid-template-columns: 1fr;
                grid-template-rows: auto 1fr auto;
                text-decoration: none;
                color: #191919;

                &:hover{
                    background-color: #f9d783;

                    p{
                        text-decoration: underline;
                    }
                    h3{
                        border-bottom: 1px solid #191919;
                    }
                }

                img{
                    width: 100%;
                    height: auto;
                }

                h3{
                    padding-top: 35px;
                    padding-bottom: 16px;
                    border-bottom: 1px solid #DAD9D3;
                }

                p{
                    display: block;
                    text-align: right;
                    text-decoration: none;
                    color: #191919;
                    font-size: 14px;
                    font-weight: 500;
                    padding: 15px;

                    i{
                        margin-left: 5px;
                    }
                }
            }
        }

        .center-content{
            margin-top: 50px;
            margin-bottom: 90px;
        }
    }
}

.meet-section{
    background: #F0D082;
    padding-top: 125px;
    padding-bottom: 70px;
    
    .container{

        .part-one{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            text-align: center;
            padding-bottom: 100px;

            h2{
                margin-top: 20px;
            }

            .btn-transparent{
                align-self: center;
                margin-top: 15px;

                @media (min-width: 1400px){
                    align-self: end;
                    margin-bottom: 5px;
                    margin-top: 0px;
                }
            }

            @media (min-width: 1400px){
                flex-direction: row;
                text-align: start;
            }
        }

        .part-two{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            margin-bottom: 40px;

            img{
                height: auto;
                width: 100%;
            }

            @media (min-width: 768px){
                display: grid;
                grid-template-columns: auto auto;
                justify-content: space-evenly;
            }

            @media (min-width: 1400px){
                justify-content: space-between;
                display: flex;
                flex-direction: row;
            }
        }
    }
}

.testimonial-section{
    background: #F0D082;
    padding-bottom: 120px;

    .container{
        background-color: white;
        text-align: center;
        padding: 120px 0px;
        
        @media(min-width: 576px){
            padding: 120px 120px;
        }
            

        h2{
            margin-top: 35px;
            margin-bottom: 100px;
        }

        @media(min-width: 1400px){
            max-width: 1520px;
        }

        .reviews{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            text-align: start;
            align-items: center;

            @media (min-width: 1400px){
                flex-direction: row;
            }

            .content-box{
                margin-bottom: 100px;
                text-align: center;

                @media (min-width: 576px){
                    text-align: start;
                    max-width: 325px;
                    max-height: 310px;
                }

                .review-text{
                    margin-bottom: 40px;
                    line-height: 1;

                    @media (min-width: 576px){
                        line-height: 1.8;
                    }
                }

                .stars{
                    font-size: 14px;
                    color: #F94D1C;
                    margin-bottom: 30px;
                }

                .reviewers{
                    @media (min-width: 1400px){
                        display: flex;
                    }

                    img{
                        display: none;
                        margin-right: 20px;

                        @media (min-width: 576px){
                            display: inline;
                        }
                    }

                    .orange-p{
                        border-bottom: solid 1px #DAD9D3;

                        @media (min-width: 1400px){
                            border: none;
                        }
                    }
                }
            }
        }
    }
}

.articles-section{
    padding-top: 120px;
    padding-bottom: 90px;

    .container{

        .part-one{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            text-align: center;
            padding-bottom: 100px;

            h2{
                margin-top: 20px;
            }

            .btn-transparent{
                align-self: center;
                margin-top: 15px;

                @media (min-width: 1400px){
                    align-self: end;
                    margin-bottom: 5px;
                    margin-top: 0px;
                }
            }

            @media (min-width: 1400px){
                flex-direction: row;
                text-align: start;
            }
        }

        .part-two{
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            gap: 30px;
            margin-bottom: 70px;

            @media (min-width: 1200px){
                flex-direction: row;
                text-align: start;
            }

            img{
                height: auto;
                width: 100%;
                margin-bottom: 36px;
            }
            
            a{
                text-decoration: none;
                color:#191919;
                position: relative;

                .business-color{
                    color: #6A6C71;
                }

                h3{
                    margin-bottom: 28px;

                    @media (min-width: 1200px){
                        max-width: 310px;
                    }
                }

                &:hover{
                    background-color: #f9d783;
                    text-decoration: underline;
                }

                .absolute-date{
                    position: absolute;
                    text-align: center;
                    top: 16px;
                    left: 16px;
                    background-color: #f9d783;
                    width: 56px;
                    height: 64px;

                    h3{
                        margin-bottom: 0px;
                        margin-top: 10px;
                    }
                }
            }
        }   
    }

}

.signup-section{
    padding: 105px 0px;
    background-color: #F0EFE9;
    position: relative;
    z-index: 0;

    .squiggly-lines{
        right: 0;
        bottom: 3rem;
        z-index: -1;
    }

    .container{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
        
        @media (min-width: 1200px){
            flex-direction: row;
        }

        h2{
            text-align: center;
        }

        .subscribe{
            display: flex;
            gap: 16px;
            align-items: center;
            flex-direction: column;

            @media (min-width: 576px){
                flex-direction: row;
            }

            form{
                text-align: center;

                input{
                    width: 308px;
                    padding: 15px;
                    border-radius: 40px;
                    border: hidden;
                }
            }
        }
    }
}

// CONTACT.HTML

.contact-showcase{
    background-color:#F0EFE9;
    padding: 114px 0px;
    position: relative;
    z-index: 0;

    .squiggly-lines{
        display: none;
        bottom: 0;
        z-index: -1;

        @media (min-width: 992px){
            display: inline;
        }
    }

    .container{
            display: grid;
            grid-template-rows: auto auto;
            justify-content: center;
            text-align: center;

        a{  
            text-decoration: none;
            color: #191919;
            margin: 0px 20px;
        }

        #contact{
            font-weight: 500;
        }

        h1{
            font-family: 'DM Sans', sans-serif;
            font-weight: 700;
            font-size: 56px;
        }
    }
}

.contact-form{
    @media (min-width: 576px){
        padding-bottom: 125px;
    }

    .info{
        display: block;
        margin-top: 120px;

        @media (min-width: 992px){
        display: flex;
        align-items: center;
        justify-content: space-between;
        }

        .columns{
            display: grid;
            grid-template-columns: auto auto;
            border: 1px solid #DAD9D3;

            @media(min-width: 992px){
            width: 370px;
            height: 205px;
            }

            @media (min-width: 1400px){
                width: 420px;
            }

            h3{
                font-family: 'DM sans', sans-serif;
                font-size: 22px;
                font-weight: 700;
                margin-top: 60px;
                margin-bottom: 20px;
            }

            i{
                font-size: 20px;
                color: #ffffff;
                background-color: #191919;
                align-self: start;
                text-align: center;
                width: 60px;
                height: 60px;
                border-radius: 50px;
                padding: 20px 15px 15px;
                margin-left: 60px;
                margin-top: 50px;
            }

            a{
                display: block;
                text-decoration: none;
                color: #191919;
                font-family: 'Inter', sans-serif;
                font-size: 14px;

                @media (min-width: 1400px){
                    font-size: 18px;
                    margin-right: 100px;
                }

                &:hover{
                    background-color: #f9d783;
                    text-decoration: underline;
                }

                p{
                    margin: 0px;
                }
            }
        }
    }

    .form-section{
        background: #F0EFE9;
        margin-top: 80px;
        padding-bottom: 100px;

        h2{
            font-family: 'DM sans', sans-serif;
            font-size: 45px;
            font-weight: 700;
            text-align: center;
            padding-top: 150px;
        }

        form{
            margin-top: 30px;
            text-align: center;

            #your-message{
                padding-bottom: 160px;
            }

            label{
                margin-bottom: 10px;
                margin-top: 20px;
            }

            input{

                padding: 20px;
                border-radius: 40px;
                border: hidden;

                @media (min-width: 576px){
                    width: 460px;
                }

                @media (min-width: 768px){
                    width: 660px;
                }

                @media (min-width: 1200px){
                    width: 830px;
                }

                @media (min-width: 1400px){
                    width: 1020px;
                }
            }
        }

        a{
            text-align: center;
            display: block;
            margin: 45px 20px;

            @media (min-width: 992px){
                margin: 45px 140px;
            }
        }
    }
}

.contact-map{

    iframe{
        width: 100%;
        height: 620px;
    }
}

// END CONTACT.HTML

footer{
    background-color: #0E1021;
    color: white;

    .top-footer{
        padding-top: 115px;
        padding-bottom: 90px;
        position: relative;
        z-index: 0;

        .squiggly-lines{
            bottom: 0;
            right: 0;
            z-index: -1;
        }

        .container{
            
            .footer-menu{
                display: flex;
                justify-content: space-between;

                p{
                    display: none;

                    @media(min-width: 992px){
                        display: block;
                        max-width: 300px;
                        margin-top: 35px;
                    }

                }

                .link-list{
                    display: none;

                    @media (min-width: 992px){
                        display: block;
                    }

                    h3{
                        margin-bottom: 50px;
                    }

                    a{
                        display: block;
                        text-decoration: none;
                        color: white;
                        margin-bottom: 25px;

                        &:hover{
                            text-decoration: underline;
                            color: hotpink;
                        }
                    }
                }

                .menu-bars{
                    border: none;
                    background-color: transparent;
                    color: white;
                    font-size: 25px;

                    @media (min-width: 992px){
                        display: none;
                    }
                }
            }
        }
    }

    .footer-border{
        border: solid 1px #45454590;
    }

    .bottom-footer{
        padding: 35px 0px;
        display: flex;
        flex-direction: column;
        text-align: center;
        gap: 15px;

        @media (min-width: 992px){
            flex-direction: row;
            justify-content: space-between;
        }


        p{
            margin: 0;
            font-size: 14px;

            // This is for you, Joakim
            color: hotpink;

            @media (min-width: 576px){
                font-size: 16px;
                color: white;
            }
        }

        .social-media{ 

            a{
                color: white;
                font-size: 1.3rem;
                margin-left: 25px;

                // This is for you, Joakim
                &:hover{
                    color: hotpink;
                }
            }
        }
    }
    
}